@media screen and (max-width: 990px) {
  section.categories .categories-cards .card .categories__card-content button {
    width: 90%;
  }
  .modal {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  section.categories .categories-cards .card .categories__card-content {
    opacity: 1;
  }
  section.categories .categories-cards .card .categories__card-content button {
    width: 85%;
  }
  .section_title {
    font-size: 2.2rem !important;
  }
  .section_icon {
    font-size: 2rem !important;
  }
  .modal {
    width: 80%;
  }

  section.favorites .card .card-body {
    opacity: 1;
  }

  section.favorites .card .card-body h6.card-title {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 575px) {
  section.categories .categories-cards .card .categories__card-content {
    padding: 2rem 1rem;
    transition: all 0.2s ease-in-out;
  }

  section.categories .categories-cards .card .categories__card-content button {
    width: 88%;
  }

  section.categories .categories-cards .card .categories__card-content h1 {
    font-size: 2.5rem;
  }
  .modal {
    width: 95%;
    max-height: 95%;
    border-radius: 0.75rem;
    overflow-y: scroll;
  }

  section.favorites .card .card-body h6.card-title {
    font-size: 1.75rem !important;
  }

  section.favorites .card .card-body button {
    width: 90%;
    padding: 0.2rem 0;
    font-size: 1.3rem;
  }
}
