/* Main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 0;
}

.modal {
  position: fixed;
  width: 40%;
  height: 95%;
  background-color: gray;
  z-index: 10;
  padding: 3rem 1rem 1rem 1rem;
  display: block;
  border-radius: 0.75rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.modal .modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.heart__btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.25rem 0.5rem;
  color: red;
  background-color: #fff;
  border: none;
}

.heart__btn:focus {
  color: gray !important;
}
/* Main */

/* Header */
header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  z-index: 9;
}

header nav h1.header__title {
  color: orange;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1.5px;
}

header nav .container a.navbar-brand {
  color: orange;
  letter-spacing: -1px;
}

header nav .container .collapse .nav-item a:hover {
  color: orange;
}

header nav .container .collapse form input,
header nav .container .collapse form button {
  font-size: 1.1rem;
}

header nav .container .collapse form button {
  background-color: orange;
  color: white;
}
/* /Header */

/* Favorites */

section.favorites .row {
  gap: 1.25rem 0;
}

section.favorites .card {
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

section.favorites .card img {
  border-radius: 1rem;
}

section.favorites .card .card-body {
  height: 100%;
  top: 0;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

section.favorites .card .card-body:hover {
  opacity: 1;
}

section.favorites .card .card-body h6.card-title {
  position: absolute;
  font-weight: 700;
  font-size: 1rem !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

section.favorites .card .card-body button {
  position: absolute;
  bottom: 1rem;
  display: block;
  width: 80%;
  background-color: orange;
  border: none;
  border-radius: 0.2rem;
  padding: 0.15rem 0;
}

/* /Favorites */

/* All Recipes */
section.all-recipes {
  background-color: #fcfee8;
}

.recipes__card {
  text-align: center;
  cursor: pointer;
}

.recipes__btn {
  background-color: orange;
  color: white !important;
  letter-spacing: 1px;
  margin-top: 1rem;
}

.recipes__btn:hover {
  background-color: rgba(255, 165, 0, 0.7);
}

section.all-recipes .heart__btn {
  color: gray !important;
}

section.all-recipes .heart__btn.active {
  color: red !important;
}
/* /All Recipes */
